config/node-red-flows.json
[{"id":"87a72abf.b6e478","type":"tab","label":"Boot","disabled":false,"info":""},{"id":"9f1c28148c1b5b9c","type":"tab","label":"healthcheck","disabled":false,"info":""},{"id":"b5572742.1309a8","type":"tab","label":"UI","disabled":false,"info":""},{"id":"8cfd379c.8c2e58","type":"tab","label":"Counter and GPS","disabled":false,"info":""},{"id":"41f96cfd.bcf324","type":"tab","label":"Publish Data","disabled":false,"info":""},{"id":"20c21b04.04ca94","type":"tab","label":"Service Mqtt","disabled":false,"info":""},{"id":"4527ebc0.500354","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"eb1dff6a.8f95f","type":"subflow","name":"Update nodes ","info":"","category":"","in":[{"x":380,"y":200,"wires":[{"id":"33dbaed6.3c7442"}]}],"out":[{"x":780,"y":480,"wires":[{"id":"8fb6d906.f9b358","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fa01bebb.95887","type":"subflow","name":"MAC","info":"Get mac address in uppercase and no colon","category":"","in":[{"x":280,"y":140,"wires":[{"id":"534029bb.b39978"}]}],"out":[{"x":580,"y":180,"wires":[{"id":"8753b81c.f1fed8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1e70f269.b7747e","type":"subflow","name":"Download Setting","info":"Download Setting and update node data ","category":"","in":[{"x":220,"y":220,"wires":[{"id":"5240f04a.9569c"}]}],"out":[{"x":860,"y":580,"wires":[{"id":"9ab062a9.025a1","port":0}]},{"x":820,"y":500,"wires":[{"id":"664a8cd9.fd5584","port":0}]},{"x":660,"y":460,"wires":[{"id":"b7fc6081.1850c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8bbccb03.553628","type":"subflow","name":"Internet Up","info":"if retry=0 then this node will retry indefinitely","category":"","in":[{"x":140,"y":280,"wires":[{"id":"763ed2c0.a8dd9c"}]}],"out":[{"x":1040,"y":220,"wires":[{"id":"da6879d1.9ebf98","port":0}]},{"x":1240,"y":280,"wires":[{"id":"284c7cc9.5e00a4","port":0}]}],"env":[{"name":"try","type":"num","value":"0"}],"color":"#DDAA99"},{"id":"f46de730c3b0096c","type":"subflow","name":"log","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"3a05febce3b88422"}]}],"out":[{"x":780,"y":160,"wires":[{"id":"6ed4fd501fa99b7f","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"812a5c19.97912","type":"group","z":"b5572742.1309a8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["39476928.93d5d6","f297a110.6b3ac","8c57068f.82ffc8","d6f3cd50.8fb74","8e38c097.27736"],"x":94,"y":1139},{"id":"2c0f9fad.d988b","type":"group","z":"b5572742.1309a8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["905fa040.6a6a3","fcd4d29a.98508","8e81b8a7.9af6c8","6b946aca.238f94","e6a3cf25.8e9f7","a3f46859.16b6e8","1b64e766.50be79"],"x":94,"y":799},{"id":"89c71627.db69c8","type":"group","z":"b5572742.1309a8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f8043041.5f31e","4c56e3ab.ee9c3c","5870f472.06581c","3800f47a.2b2b8c","609bae92.1d686","e2046fc1.17809","c50f897c.b6da68","53d91c81.1add54"],"x":94,"y":619},{"id":"94b28f50.68dc","type":"group","z":"b5572742.1309a8","name":"","style":{"label":true},"nodes":["d8c6303a.ad237","1fac4a1b.fd3696","c7adb3a1.9f65f","179b6603.d99b1a","cb6cba8f.5a1c98","4576a5c8.290b6c","35ec1b7a.b510c4","88c68c8d.90913","4f7845ca.06b77c","f452c714.086658","681795ae.5ca2fc","8a7fffed.24872","79dbeb00.8c49b4","ef6ead38.04d08","2c05b475.819c8c"],"x":84,"y":259},{"id":"a0a914ee.b6a9a8","type":"group","z":"20c21b04.04ca94","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2dc0bf98.8210a","b992f401.342d28","be38dd4e.7e667","ec6595aa.53ddf8","bac4c899.20c8d8","1503c01b.25c98","cf4769a0.156ee8","c61cf5e0.303928","44047850.d0c0d8","10adbeee.8eecc1"],"x":74,"y":659},{"id":"f1483986.eea5c8","type":"group","z":"20c21b04.04ca94","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["19e9152d.25fcdb","1b4d7594.08a41a","7108c235.114ccc","aa5e60be.767e1","a8ed0f5a.6cf6f","4340ff28.58381","bb8eaf47.7c1c9","771d5eb4.d063f"],"x":674,"y":339},{"id":"8dcc0624.5ace68","type":"group","z":"20c21b04.04ca94","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7be97700.b1c7e8","c63b1aaa.8dfcb8","d9473278.17a2e","8799df0c.bb724"],"x":94,"y":499},{"id":"f5cbd0d.baa333","type":"group","z":"20c21b04.04ca94","name":"","style":{"label":true},"nodes":["9059e333.93335","b77288d7.040ce8","9c19ef59.5493a","92364232.6725d","e3fa7fde.192db","2b63a07a.f38d1","24df5952.8f3396","670b8b25.3407d4","ed53ebf5.4ba0d8"],"x":84,"y":279},{"id":"6463fd3.dc81004","type":"group","z":"b5572742.1309a8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9b1c224d.1ddd1","a3cfb455.7ed528","945a2d02.03fb7","9e0a5fda.5ae88","51d076a7.652d98"],"x":94,"y":999},{"id":"f0bda8d2.46c5","type":"group","z":"20c21b04.04ca94","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["30bba7a1.2e7d7","e2a81f0a.9c3f38","39d0e88c.a849d8","a95301ec.4a3ff8","86a038b2.fd576","b16865a8.0f014","7c4937d3.46cde"],"x":114,"y":939},{"id":"38d096d5.94c0ea","type":"mqtt-broker","name":"location_mqtt","broker":"202.28.244.147","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"724bee24.9d454","type":"mqtt-broker","name":"service_mqtt","broker":"18.136.175.226","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7e74072.acd53","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"719b79a8.333af8","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7b0037d3.ead068","type":"ui_group","name":"Dashboard","tab":"719b79a8.333af8","order":1,"disp":true,"width":"12","collapse":false},{"id":"fd74a479.87e1f8","type":"ui_group","name":"Base Setting","tab":"a1bf03d.d69d2","order":3,"disp":true,"width":12,"collapse":false},{"id":"a1bf03d.d69d2","type":"ui_tab","name":"Base Setting","icon":"cogs","disabled":false,"hidden":false},{"id":"c8557e1c.a76f2","type":"ui_group","name":"Bus Info","tab":"719b79a8.333af8","order":2,"disp":true,"width":"4","collapse":false},{"id":"22997604.d6c67a","type":"ui_spacer","name":"spacer","group":"c8557e1c.a76f2","order":10,"width":"4","height":1},{"id":"906ac8a7.96cf58","type":"http request","z":"eb1dff6a.8f95f","name":"Load flow","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/admin/flows","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":400,"wires":[["8fb6d906.f9b358"]]},{"id":"8fb6d906.f9b358","type":"function","z":"eb1dff6a.8f95f","name":"Modify tcpout settings","func":"// increment the connection port\n// of the tcp out node with id 20ce9864.df2028\n// increment is done on every input of inject\n// the flowid is set in the topic of the inject \n// node\n\n/**\n\nbirthPayload: \"\"\nbirthQos: \"0\"\nbirthTopic: \"\"\nbroker: \"server\"\ncleansession: true\nclientid: \"\"\nclosePayload: \"\"\ncloseQos: \"0\"\ncloseTopic: \"\"\ncompatmode: false\ncredentials: {user: \"aa\", password: \"bb\"}\nid: \"38d096d5.94c0ea\"\nkeepalive: \"60\"\nname: \"mqtt broker\"\nport: \"1883\"\ntls: \"\"\ntype: \"mqtt-broker\"\nusetls: false\nwillPayload: \"\"\nwillQos: \"0\"\nwillTopic: \"\"\n\n */\nvar fn = msg.payload;\nconst nodeSettings =  msg.node_settings\n\nlet hasUpdate = false;\nconst updateNodes = [];\nfor(var i=0;i<fn.length;i++) {\n    for(const nodeSetting of nodeSettings){\n        if (fn[i].name == nodeSetting.node) {\n            hasUpdate =true;\n            if(fn[i].type== 'mqtt-broker'){\n                fn[i].port = nodeSetting.port\n                fn[i].broker =  nodeSetting.server\n                fn[i].credentials =  {user: nodeSetting.username, password: nodeSetting.password}\n            }else{\n                for(const k of Object.keys(nodeSetting)){\n                    if(k==='node'){\n                        continue;\n                    }\n                    fn[i][k]=nodeSetting[k]\n                }\n            }\n            updateNodes.push(fn[i])\n            break;\n        }\n    }\n}\n\nmsg.original_msg.payload = updateNodes\n\nif(hasUpdate){\n    \n    return [\n        msg.original_msg,\n        {\n            payload: msg.payload,\n            headers : {\n                'Content-Type': 'application/json',\n                'Accept' : 'application/json',\n                \"Node-RED-Deployment-Type\":\"nodes\",\n                Authorization: 'Bearer '+msg.token,\n            },\n            url : \"http://localhost:1880/admin/flows\",\n            method :\"POST\"\n        }\n    ]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":480,"wires":[[],["366d3654.2be33a"]]},{"id":"366d3654.2be33a","type":"http request","z":"eb1dff6a.8f95f","name":"Save flow","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":520,"wires":[[]]},{"id":"213ce532.ad701a","type":"comment","z":"eb1dff6a.8f95f","name":"Modify Any node","info":"// payload should contain array and configuration\n\nmqtt config \n  { node, server, port, username, password } \n\n\n\nref : https://flows.nodered.org/flow/6fe183c197b3464a1fe4d89744e068ff\n","x":400,"y":140,"wires":[]},{"id":"f084e77.df60218","type":"http request","z":"eb1dff6a.8f95f","name":"auth","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":320,"wires":[["4754ab0b.bb4ac4"]]},{"id":"cdddcb9f.930018","type":"function","z":"eb1dff6a.8f95f","name":"authenticate","func":"/**\nhttps://nodered.org/docs/api/admin/methods/post/auth/token/\nPOST /auth/token\nclient_id\tidentifies the client. Currently, must be either node-red-admin or node-red-editor.\ngrant_type\tmust be password\nscope\ta space-separated list of permissions being requested. Currently, must be either * or read.\nusername\tthe username to authenticate\npassword\tthe password to authenticate\n*/\n\n// payload should contain\n// node, server, port, username, password\nmsg.node_settings = msg.payload\n\nmsg.url = \"http://localhost:1880/admin/auth/token\"\nmsg.method=\"POST\"\nmsg.payload={\n    client_id:\"node-red-admin\",\n    grant_type:\"password\",\n    scope:\"*\",\n    username:\"admin\",\n    password:\"s2c0m1c9!\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["f084e77.df60218"]]},{"id":"4754ab0b.bb4ac4","type":"function","z":"eb1dff6a.8f95f","name":"set auth","func":"return {\n    original_msg: msg.original_msg,\n    node_settings: msg.node_settings,\n    token: msg.payload.access_token,\n    headers : {\n        authorization:'Bearer '+msg.payload.access_token\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["906ac8a7.96cf58"]]},{"id":"33dbaed6.3c7442","type":"function","z":"eb1dff6a.8f95f","name":"Prepare data","func":"if(!Array.isArray(msg.payload)){\n    msg.payload = [msg.payload]\n}\n\nif(msg.payload.length > 0){\n    return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["cdddcb9f.930018"]]},{"id":"78789c95.2c6624","type":"comment","z":"eb1dff6a.8f95f","name":"Modify and Update nodes","info":"","x":570,"y":440,"wires":[]},{"id":"c1b5af14.6bbb8","type":"comment","z":"eb1dff6a.8f95f","name":"Get token","info":"","x":520,"y":280,"wires":[]},{"id":"d6e718de.7e07f8","type":"comment","z":"eb1dff6a.8f95f","name":"Download node","info":"","x":540,"y":360,"wires":[]},{"id":"534029bb.b39978","type":"exec","z":"fa01bebb.95887","command":"ip addr","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":140,"wires":[["8753b81c.f1fed8"],[],[]]},{"id":"8753b81c.f1fed8","type":"function","z":"fa01bebb.95887","name":"Save MAC","func":"const rows = msg.payload.split(\"\\n\")\nlet foundEth0 = false;\nlet mac = \"\"\nfor(const row of rows){\n    if(foundEth0){\n        if(row.indexOf(\"link/ether\")>=0){\n            \n            // link/ether b8:27:eb:93:40:69 brd ff:ff:ff:ff:ff:ff\n            const rowSplit = row.trim().split(/\\s+/)\n            msg.rowSPlit = rowSplit\n            mac = rowSplit[1];\n            if(mac){\n                mac = mac.replace(/:/g,'').toUpperCase()\n            }\n            break;\n        }\n    }else if(row.indexOf(\"eth0\")>=0){\n        foundEth0=true\n    }\n}\nglobal.set(\"mac\",mac,\"settings\")\nreturn {\n    payload:mac\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[[]]},{"id":"82d98a6.0be9a78","type":"http request","z":"1e70f269.b7747e","name":"Get setting","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["1751322d.59504e","4dc94d848d802354"]]},{"id":"b7fc6081.1850c","type":"function","z":"1e70f269.b7747e","name":"save setting","func":"if(!msg.payload.success){\n    msg.original_msg.payload = msg.payload.error\n    return [msg.original_msg,null]\n}\n\nconst newSetting = msg.payload.settings\nglobal.set(\"settings\",newSetting,\"settings\")\nmsg.payload = newSetting\n\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":500,"wires":[[],["a3191848.96ffe8","664a8cd9.fd5584"]]},{"id":"5240f04a.9569c","type":"function","z":"1e70f269.b7747e","name":"create request","func":"const settings = global.get(\"base_setting\",\"settings\") || {}\nreturn {\n    original_msg:msg,\n    url: settings.base_url+'api/busdevice/setting?key='+global.get(\"mac\",'settings'),\n    headers:{\n        authorization: 'Bearer '+ settings.token\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["82d98a6.0be9a78"]]},{"id":"a3191848.96ffe8","type":"function","z":"1e70f269.b7747e","name":"modify node data for update","func":"const payload =[]\n\n// set debug mqtt topic\npayload.push({\n    node:'debug_map_mqtt',\n    topic: msg.payload.location_mqtt.topic,\n});\n\npayload.push({\n    node:'location_mqtt_out',\n    topic: msg.payload.location_mqtt.topic,\n});\n\npayload.push({\n    node:'service_mqtt_all',\n    topic: msg.payload.service_mqtt.topic+\"/all\",\n});\n\npayload.push({\n    node:'service_mqtt_bus',\n    topic: msg.payload.service_mqtt.topic+\"/\"+global.get('mac','settings'),\n});\n\n\nfor(const nodename of ['location_mqtt','service_mqtt']){\n    const mqttSetting = msg.payload[nodename]\n    payload.push( {\n        node: nodename,\n        server: mqttSetting.server,\n        port: mqttSetting.port,\n        username : mqttSetting.username,\n        password: mqttSetting.password,\n    })\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":580,"wires":[["9ab062a9.025a1"]]},{"id":"9ab062a9.025a1","type":"subflow:eb1dff6a.8f95f","z":"1e70f269.b7747e","name":"","env":[],"x":720,"y":580,"wires":[[]]},{"id":"e0d2efc1.c2247","type":"comment","z":"1e70f269.b7747e","name":"Download new Setting and Apply","info":"","x":310,"y":140,"wires":[]},{"id":"664a8cd9.fd5584","type":"function","z":"1e70f269.b7747e","name":"return origin msg","func":"msg.original_msg.payload = msg.payload\n\nreturn msg.original_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":500,"wires":[[]]},{"id":"230dedb.a027812","type":"comment","z":"1e70f269.b7747e","name":"Config received","info":"","x":800,"y":460,"wires":[]},{"id":"b39c2dbb.05e87","type":"comment","z":"1e70f269.b7747e","name":"Nodes Updated","info":"","x":900,"y":540,"wires":[]},{"id":"1751322d.59504e","type":"function","z":"1e70f269.b7747e","d":true,"name":"check version (old)","func":"if(msg.payload.flow.version && msg.payload.flow.version != global.get('flow_version')){\n    return [msg,null]\n}\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":380,"wires":[[],[]]},{"id":"1b8b148f.64185b","type":"exec","z":"1e70f269.b7747e","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Download and replace flows.json then restart node-red","x":780,"y":380,"wires":[[],[],[]]},{"id":"6609a19a.97a76","type":"function","z":"1e70f269.b7747e","name":"generate command ","func":"//wget -P /home/admin/.node-red http://transit.scmc.cmu.ac.th/storage/bus_nodered_passenger.json -O flows.json; sudo systemctl restart nodered\nconst nodeRedHome = '/home/admin/.node-red'\nconst download = `wget -O ${nodeRedHome}/flows.json \"${msg.payload.flow.url}\"  && sudo systemctl restart nodered`\nreturn {\n    payload: download\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":320,"wires":[["1b8b148f.64185b"]]},{"id":"4dc94d848d802354","type":"function","z":"1e70f269.b7747e","name":"is newer version","func":"const oldVer = global.get('flow_version')\nconst newVer = msg.payload.flow.version\nif(oldVer==newVer){\n    return [null,msg]\n}\nconst oldParts = oldVer.split('.')\nconst newParts = newVer.split('.')\nfor (var i = 0; i < newParts.length; i++) {\n    const a = ~~newParts[i] // parse int\n    const b = ~~oldParts[i] // parse int\n    if (a > b) return [msg,null]\n    if (a < b) return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["6609a19a.97a76","abdaae2b497cd67d"],["b7fc6081.1850c"]]},{"id":"ba9a7c8184706cbe","type":"subflow:f46de730c3b0096c","z":"1e70f269.b7747e","name":"","x":810,"y":280,"wires":[[]]},{"id":"abdaae2b497cd67d","type":"function","z":"1e70f269.b7747e","name":"log UPGRADE","func":"return {\n    payload:{\n        \"type\": \"UPGRADE\",\n        \"data\": {\n            \"from\": global.get('flow_version'),\n            \"to\": msg.payload.flow.version\n        }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["ba9a7c8184706cbe"]]},{"id":"c2329d9f.a7e31","type":"http request","z":"8bbccb03.553628","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.google.com","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":280,"wires":[["aafc7b07.189438"]]},{"id":"aafc7b07.189438","type":"switch","z":"8bbccb03.553628","name":"is 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":650,"y":280,"wires":[["da6879d1.9ebf98"],["2c411333.41738c"]]},{"id":"368af8f0.7ca7b8","type":"delay","z":"8bbccb03.553628","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":560,"y":360,"wires":[["cfb1fe5f2907582e"]]},{"id":"da6879d1.9ebf98","type":"function","z":"8bbccb03.553628","name":"restore msg data","func":"\nreturn msg.origin_msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[[]]},{"id":"2c411333.41738c","type":"function","z":"8bbccb03.553628","name":"is overtry","func":"const totalTry = env.get(\"try\");\nif(totalTry > 0){\n    if(msg.try_count >= totalTry){\n        return [msg,null]\n    }\n}\nreturn [null,msg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":280,"wires":[["284c7cc9.5e00a4"],["368af8f0.7ca7b8"]]},{"id":"284c7cc9.5e00a4","type":"function","z":"8bbccb03.553628","name":"restore msg data","func":"\nreturn msg.origin_msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":280,"wires":[[]]},{"id":"763ed2c0.a8dd9c","type":"function","z":"8bbccb03.553628","name":"keep msg data","func":"return {\n    try_count : (msg.try_count || 0 ) +1,\n    origin_msg : msg\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["c2329d9f.a7e31"]]},{"id":"cfb1fe5f2907582e","type":"function","z":"8bbccb03.553628","name":"","func":"msg.try_count=msg.try_count+1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["c2329d9f.a7e31"]]},{"id":"3a86b194b8591511","type":"http request","z":"f46de730c3b0096c","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":160,"wires":[["6ed4fd501fa99b7f","efee3f6cf275bd0f"]]},{"id":"3a05febce3b88422","type":"function","z":"f46de730c3b0096c","name":"","func":"const data = msg.payload\nconst settings = global.get(\"base_setting\",\"settings\") || {}\nreturn {\n    original_msg: msg,\n    method:\"POST\",\n    url: settings.base_url+'api/busdevice/log',\n    headers:{\n        authorization: 'Bearer '+ settings.token\n    },\n    payload: {\n        key: global.get(\"mac\",'settings'),\n        type: data.type,\n        data: data.data\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["3a86b194b8591511","66047e9a7c2f453b"]]},{"id":"6ed4fd501fa99b7f","type":"function","z":"f46de730c3b0096c","name":"restore payload","func":"\nreturn msg.original_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[[]]},{"id":"66047e9a7c2f453b","type":"debug","z":"f46de730c3b0096c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":220,"wires":[]},{"id":"efee3f6cf275bd0f","type":"debug","z":"f46de730c3b0096c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"cfd2ed5b.140fb","type":"ui_form","z":"87a72abf.b6e478","name":"CMU Transit Server Setting","label":"Bus Setting Please refresh if value is not shown","group":"fd74a479.87e1f8","order":1,"width":0,"height":0,"options":[{"label":"Base URL (with tailing /)","value":"base_url","type":"text","required":true,"rows":null},{"label":"Auth Token","value":"token","type":"text","required":false,"rows":null}],"formValue":{"base_url":"","token":""},"payload":"","submit":"submit","cancel":"","topic":"","x":300,"y":340,"wires":[["9a539216.a6c9f"]]},{"id":"9a539216.a6c9f","type":"function","z":"87a72abf.b6e478","name":"set global","func":"global.set(\"base_setting\",Object.assign(\n    global.get(\"base_setting\", \"settings\") || {},\n    msg.payload\n),\"settings\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":340,"wires":[["2992b787.05b4f8","d581e655a97f2dc2"]]},{"id":"3b43f2de.4a0aee","type":"inject","z":"87a72abf.b6e478","name":"ON BOOT","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(settings)::base_setting","payloadType":"global","x":170,"y":200,"wires":[["a3895470.7826a8","cfd2ed5b.140fb","490c3542.45831c","cd43238c.328b9","3b3604fede35190d","9d7f86523d53c730"]]},{"id":"d288f4e7.5f0058","type":"comment","z":"87a72abf.b6e478","name":"Download Setting On Start after getting mac address","info":"","x":270,"y":40,"wires":[]},{"id":"490c3542.45831c","type":"subflow:fa01bebb.95887","z":"87a72abf.b6e478","name":"Get MAC Addr","env":[],"x":260,"y":280,"wires":[["9b1c7454.ecbfb8","6b756927.d61bf8"]]},{"id":"a3895470.7826a8","type":"link out","z":"87a72abf.b6e478","name":"","links":["cb6cba8f.5a1c98","7c0d2051.441bb","681795ae.5ca2fc"],"x":195,"y":400,"wires":[]},{"id":"2992b787.05b4f8","type":"subflow:1e70f269.b7747e","z":"87a72abf.b6e478","name":"","env":[],"x":710,"y":340,"wires":[["933b34fb.bd4c18"],["b9f6778e.491b38","63c9a9b5.ff2528"],["2264f612.30db4a"]]},{"id":"576577bb.a63d18","type":"ui_button","z":"87a72abf.b6e478","name":"on update setting button click","group":"c8557e1c.a76f2","order":11,"width":0,"height":0,"passthru":false,"label":"Update Setting","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":400,"wires":[["2992b787.05b4f8","d581e655a97f2dc2"]]},{"id":"b9f6778e.491b38","type":"debug","z":"87a72abf.b6e478","name":"Updated node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":320,"wires":[]},{"id":"933b34fb.bd4c18","type":"debug","z":"87a72abf.b6e478","name":"New Setting","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"2264f612.30db4a","type":"debug","z":"87a72abf.b6e478","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"9b1c7454.ecbfb8","type":"ui_text","z":"87a72abf.b6e478","group":"c8557e1c.a76f2","order":3,"width":0,"height":0,"name":"Show to UI","label":"MAC","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":240,"wires":[]},{"id":"63c9a9b5.ff2528","type":"function","z":"87a72abf.b6e478","name":"auto send data if enable","func":"const settings = global.get(\"settings\",\"settings\") || {}\nmsg.payload = settings.send_data_on_boot || false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":400,"wires":[["5a95ff47.d190c"]]},{"id":"6b756927.d61bf8","type":"subflow:8bbccb03.553628","z":"87a72abf.b6e478","name":"is Internet up","env":[],"x":490,"y":280,"wires":[["2992b787.05b4f8","d404ae5a8c19e74e","d581e655a97f2dc2"],[]]},{"id":"cd43238c.328b9","type":"change","z":"87a72abf.b6e478","name":"set static flow version","rules":[{"t":"set","p":"flow_version","pt":"global","to":"1.2.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[[]]},{"id":"3440b325.b9148c","type":"comment","z":"87a72abf.b6e478","name":"<<<<< CHANGE VERSION HERE","info":"1.2.1\n - fix version check cause same version not auto start publish data\n1.2.0\n - add healthcheck to restart mqtt connection\n1.1.1\n - add 1 minute update data interval to device update api\n1.1.0 \n - can automatically upgrade version on boot","x":480,"y":120,"wires":[]},{"id":"5a95ff47.d190c","type":"change","z":"87a72abf.b6e478","name":"Set Send Data false","rules":[{"t":"set","p":"send_data","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":440,"wires":[["c10fac6.7ef2b5"]]},{"id":"c10fac6.7ef2b5","type":"link out","z":"87a72abf.b6e478","name":"","links":["51d076a7.652d98"],"x":1135,"y":440,"wires":[]},{"id":"d404ae5a8c19e74e","type":"change","z":"87a72abf.b6e478","name":"set has_internet = true","rules":[{"t":"set","p":"has_internet","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[[]]},{"id":"d581e655a97f2dc2","type":"template","z":"87a72abf.b6e478","name":"download setting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"download setting","output":"str","x":710,"y":440,"wires":[["accddcb3cc691f17"]]},{"id":"accddcb3cc691f17","type":"debug","z":"87a72abf.b6e478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"3b3604fede35190d","type":"change","z":"87a72abf.b6e478","name":"set has_internet = false","rules":[{"t":"set","p":"has_internet","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[[]]},{"id":"9d7f86523d53c730","type":"function","z":"87a72abf.b6e478","name":"log started","func":"if(!global.get('started')){\n   global.set('started',true)\n   return {\n       payload: {\n           type:\"START\"\n       }\n   };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":500,"wires":[["aef55e8274ad88cd"]]},{"id":"aef55e8274ad88cd","type":"subflow:f46de730c3b0096c","z":"87a72abf.b6e478","name":"","x":230,"y":540,"wires":[[]]},{"id":"98bf6f46e3726b23","type":"mqtt in","z":"9f1c28148c1b5b9c","name":"cmutransit_healthcheck","topic":"cmutransit/healthcheck","qos":"0","datatype":"utf8","broker":"38d096d5.94c0ea","x":240,"y":100,"wires":[["633692dee8140a06","c20a48953e54649c"]],"info":"==[[]]"},{"id":"633692dee8140a06","type":"debug","z":"9f1c28148c1b5b9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"93e57c1571d27740","type":"change","z":"9f1c28148c1b5b9c","name":"set to flow.ping","rules":[{"t":"set","p":"ping","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[[]]},{"id":"c20a48953e54649c","type":"function","z":"9f1c28148c1b5b9c","name":"save currenttime to flow","func":"msg.payload=Date.now()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":100,"wires":[["93e57c1571d27740"]]},{"id":"b8af8a5ede9628b1","type":"inject","z":"9f1c28148c1b5b9c","name":"every 1 second","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[["a7bc803c68881254"]]},{"id":"a7bc803c68881254","type":"function","z":"9f1c28148c1b5b9c","name":"has internet and exceed time diff","func":"const ping = flow.get('ping')\nif(\n    global.get('has_internet') \n    && ping > 0\n    && msg.payload-ping > 5000\n){\n   return {\n       payload:'should restart mqtt related flow '+( msg.payload-flow.get('ping')),\n       \n   };    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":240,"wires":[["6a08141ead3beb77","d3b58641af4b3168","8a1db7ab06c0daf1"]]},{"id":"d2babec53147a2c9","type":"http request","z":"9f1c28148c1b5b9c","name":"auth","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":380,"wires":[["2477ddf9ab93ed45"]]},{"id":"d3b58641af4b3168","type":"function","z":"9f1c28148c1b5b9c","name":"authenticate","func":"/**\nhttps://nodered.org/docs/api/admin/methods/post/auth/token/\nPOST /auth/token\nclient_id\tidentifies the client. Currently, must be either node-red-admin or node-red-editor.\ngrant_type\tmust be password\nscope\ta space-separated list of permissions being requested. Currently, must be either * or read.\nusername\tthe username to authenticate\npassword\tthe password to authenticate\n*/\n\n// payload should contain\n// node, server, port, username, password\nmsg.node_settings = msg.payload\n\nmsg.url = \"http://localhost:1880/admin/auth/token\"\nmsg.method=\"POST\"\nmsg.payload={\n    client_id:\"node-red-admin\",\n    grant_type:\"password\",\n    scope:\"*\",\n    username:\"admin\",\n    password:\"s2c0m1c9!\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":380,"wires":[["d2babec53147a2c9"]]},{"id":"3b6596a5cbd67bad","type":"comment","z":"9f1c28148c1b5b9c","name":"Click to reload all flows","info":"","x":220,"y":320,"wires":[]},{"id":"70984df9e18ca0ec","type":"inject","z":"9f1c28148c1b5b9c","name":"reload flows","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":380,"wires":[["d3b58641af4b3168"]]},{"id":"dba804f404317a46","type":"http request","z":"9f1c28148c1b5b9c","name":"reload all flow","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/admin/flows","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":440,"wires":[[]]},{"id":"2477ddf9ab93ed45","type":"function","z":"9f1c28148c1b5b9c","name":"reload all flows","func":"return {\n    headers : {\n        authorization:'Bearer '+msg.payload.access_token,\n        'Node-RED-Deployment-Type': 'reload',\n        'Node-RED-API-Version': 'v1',\n    },\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":440,"wires":[["dba804f404317a46"]]},{"id":"48480145c3c73336","type":"exec","z":"9f1c28148c1b5b9c","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":520,"wires":[["f61e51dde5c64e1c"],["f61e51dde5c64e1c"],["f61e51dde5c64e1c"]]},{"id":"ec169a9f57062ea8","type":"inject","z":"9f1c28148c1b5b9c","name":"test wan off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo nmcli r wwan off","payloadType":"str","x":630,"y":520,"wires":[["48480145c3c73336"]]},{"id":"f61e51dde5c64e1c","type":"debug","z":"9f1c28148c1b5b9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":520,"wires":[]},{"id":"d939207b315b5a53","type":"inject","z":"9f1c28148c1b5b9c","name":"test wan on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo nmcli r wwan on","payloadType":"str","x":630,"y":560,"wires":[["48480145c3c73336"]]},{"id":"6a08141ead3beb77","type":"change","z":"9f1c28148c1b5b9c","name":"clear ping data","rules":[{"t":"set","p":"ping","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[[]]},{"id":"86c37f9253fb3b8a","type":"subflow:f46de730c3b0096c","z":"9f1c28148c1b5b9c","name":"","x":190,"y":680,"wires":[[]]},{"id":"980737a55740b639","type":"function","z":"9f1c28148c1b5b9c","name":"log RELOAD_FLOW","func":"\nreturn {\n    payload: {\n        type: \"RELOAD_FLOW\"\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":640,"wires":[["86c37f9253fb3b8a"]]},{"id":"9ce266526fc497ce","type":"subflow:8bbccb03.553628","z":"9f1c28148c1b5b9c","name":"","x":210,"y":600,"wires":[["980737a55740b639"],[]]},{"id":"9a348420acf407c0","type":"inject","z":"9f1c28148c1b5b9c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"should_log_reload_flow","payloadType":"flow","x":260,"y":520,"wires":[["9f1233d8e3b2e74d"]]},{"id":"9f1233d8e3b2e74d","type":"function","z":"9f1c28148c1b5b9c","name":"check if should log RELOAD_FLOW","func":"\nif(msg.payload){\n    flow.set('should_log_reload_flow',false)\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":560,"wires":[["9ce266526fc497ce"]]},{"id":"8a1db7ab06c0daf1","type":"change","z":"9f1c28148c1b5b9c","name":"set should_log_reload_flow = true","rules":[{"t":"set","p":"should_log_reload_flow","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[[]]},{"id":"f8043041.5f31e","type":"ui_chart","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"","group":"7b0037d3.ead068","order":2,"width":12,"height":5,"label":"Passenger","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"13","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":700,"wires":[[]]},{"id":"4c56e3ab.ee9c3c","type":"inject","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"fetch chart data every 2s","props":[{"p":"passenger","v":"p_passenger","vt":"global"},{"p":"speed","v":"l_speed","vt":"global"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":270,"y":700,"wires":[["609bae92.1d686","e2046fc1.17809"]]},{"id":"5870f472.06581c","type":"ui_chart","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"","group":"7b0037d3.ead068","order":3,"width":12,"height":3,"label":"Speed(km/h)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":740,"wires":[[]]},{"id":"905fa040.6a6a3","type":"worldmap-tracks","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"","depth":"20","layer":"combined","x":550,"y":940,"wires":[["6b946aca.238f94"]]},{"id":"fcd4d29a.98508","type":"function","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"get gps","func":"const lat = global.get(\"l_lat\")\nif(lat){\n     return {\n         payload:{\n             name: \"BUS\",\n             lat: lat,\n             lon: global.get(\"l_lng\"),\n             radius: global.get(\"accuracy\") ?? 0,\n             icon:'https://img.icons8.com/windows/32/000000/bus.png',\n         }\n     }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":880,"wires":[["8e81b8a7.9af6c8","905fa040.6a6a3","6b946aca.238f94"]]},{"id":"8e81b8a7.9af6c8","type":"debug","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":840,"wires":[]},{"id":"6b946aca.238f94","type":"worldmap","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"","lat":"18.799739","lon":"98.953375","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":720,"y":880,"wires":[]},{"id":"39476928.93d5d6","type":"ui_button","z":"b5572742.1309a8","g":"812a5c19.97912","name":"","group":"c8557e1c.a76f2","order":13,"width":2,"height":1,"passthru":false,"label":"Get ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"in","payloadType":"str","topic":"","x":200,"y":1220,"wires":[["d6f3cd50.8fb74"]]},{"id":"f297a110.6b3ac","type":"ui_button","z":"b5572742.1309a8","g":"812a5c19.97912","name":"","group":"c8557e1c.a76f2","order":12,"width":2,"height":1,"passthru":false,"label":"Get OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"out","payloadType":"str","topic":"","x":200,"y":1260,"wires":[["d6f3cd50.8fb74"]]},{"id":"8c57068f.82ffc8","type":"http request","z":"b5572742.1309a8","g":"812a5c19.97912","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1220,"wires":[[]]},{"id":"d6f3cd50.8fb74","type":"template","z":"b5572742.1309a8","g":"812a5c19.97912","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://localhost:1880/web/counter/{{payload}}","output":"str","x":390,"y":1220,"wires":[["8c57068f.82ffc8"]]},{"id":"3800f47a.2b2b8c","type":"comment","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"Chart","info":"","x":170,"y":660,"wires":[]},{"id":"a3f46859.16b6e8","type":"comment","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"Map","info":"","x":190,"y":840,"wires":[]},{"id":"8e38c097.27736","type":"comment","z":"b5572742.1309a8","g":"812a5c19.97912","name":"Test geon getoff","info":"","x":200,"y":1180,"wires":[]},{"id":"e6a3cf25.8e9f7","type":"ui_template","z":"b5572742.1309a8","g":"2c0f9fad.d988b","group":"7b0037d3.ead068","name":"Worldmap iframe","order":1,"width":12,"height":6,"format":"<iframe \n    src='/web/worldmap' \n    style='height:100%;width:100%;'\n    border=0\n></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":940,"wires":[[]]},{"id":"d8c6303a.ad237","type":"comment","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"Information","info":"","x":180,"y":300,"wires":[]},{"id":"1fac4a1b.fd3696","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":4,"width":0,"height":0,"name":"","label":"Bus","format":"{{msg.payload.bus}}","layout":"row-spread","x":730,"y":340,"wires":[]},{"id":"c7adb3a1.9f65f","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":6,"width":0,"height":0,"name":"","label":"Route","format":"{{msg.payload.route}}","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"179b6603.d99b1a","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":7,"width":0,"height":0,"name":"","label":"Driver","format":"{{msg.payload.driver}}","layout":"row-spread","x":730,"y":380,"wires":[]},{"id":"cb6cba8f.5a1c98","type":"link in","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"Update UI","links":["d371267c.10b458","f60b1824.f810f8","88c68c8d.90913","f1aa5bb2.d869c8","a3895470.7826a8"],"x":295,"y":340,"wires":[["4576a5c8.290b6c"]]},{"id":"4576a5c8.290b6c","type":"change","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"get setting","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["1fac4a1b.fd3696","179b6603.d99b1a","c7adb3a1.9f65f","ef6ead38.04d08"]]},{"id":"35ec1b7a.b510c4","type":"inject","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":400,"wires":[["88c68c8d.90913"]]},{"id":"88c68c8d.90913","type":"link out","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"","links":["681795ae.5ca2fc","cb6cba8f.5a1c98"],"x":375,"y":400,"wires":[]},{"id":"1b64e766.50be79","type":"inject","z":"b5572742.1309a8","g":"2c0f9fad.d988b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":880,"wires":[["fcd4d29a.98508"]]},{"id":"4f7845ca.06b77c","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":8,"width":0,"height":0,"name":"","label":"Speed (km/h)","format":"{{msg.speed}}","layout":"row-spread","x":760,"y":460,"wires":[]},{"id":"f452c714.086658","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":9,"width":0,"height":0,"name":"","label":"Passenger","format":"{{msg.passenger}}","layout":"row-spread","x":750,"y":500,"wires":[]},{"id":"681795ae.5ca2fc","type":"link in","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"Update Status","links":["88c68c8d.90913","d371267c.10b458","f60b1824.f810f8","4513e117.e20f1","ff4fb497.c9c228","f1aa5bb2.d869c8","b16865a8.0f014","a3895470.7826a8"],"x":295,"y":460,"wires":[["8a7fffed.24872"]]},{"id":"8a7fffed.24872","type":"change","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"get status","rules":[{"t":"set","p":"speed","pt":"msg","to":"l_speed","tot":"global"},{"t":"set","p":"passenger","pt":"msg","to":"p_passenger","tot":"global"},{"t":"set","p":"mac","pt":"msg","to":"p_mac","tot":"global"},{"t":"set","p":"flow_version","pt":"msg","to":"flow_version","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["f452c714.086658","79dbeb00.8c49b4","2c05b475.819c8c"]]},{"id":"79dbeb00.8c49b4","type":"function","z":"b5572742.1309a8","g":"94b28f50.68dc","name":"km/h","func":"msg.payload=msg.payload*3.6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":460,"wires":[["4f7845ca.06b77c"]]},{"id":"609bae92.1d686","type":"change","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passenger","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["53d91c81.1add54"]]},{"id":"e2046fc1.17809","type":"change","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[["c50f897c.b6da68"]]},{"id":"ef6ead38.04d08","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":5,"width":0,"height":0,"name":"","label":"Max Passenger","format":"{{msg.payload.max_passenger}}","layout":"row-spread","x":760,"y":300,"wires":[]},{"id":"c50f897c.b6da68","type":"function","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"km/h","func":"msg.payload=msg.payload*3.6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":740,"wires":[["5870f472.06581c"]]},{"id":"53d91c81.1add54","type":"function","z":"b5572742.1309a8","g":"89c71627.db69c8","name":"is 0","func":"msg.payload=msg.payload || 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":700,"wires":[["f8043041.5f31e"]]},{"id":"9b1c224d.1ddd1","type":"ui_switch","z":"b5572742.1309a8","g":"6463fd3.dc81004","name":"","label":"SEND DATA","tooltip":"","group":"c8557e1c.a76f2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":1080,"wires":[["945a2d02.03fb7"]]},{"id":"a3cfb455.7ed528","type":"comment","z":"b5572742.1309a8","g":"6463fd3.dc81004","name":"Send Data","info":"","x":180,"y":1040,"wires":[]},{"id":"945a2d02.03fb7","type":"change","z":"b5572742.1309a8","g":"6463fd3.dc81004","name":"","rules":[{"t":"set","p":"send_data","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1080,"wires":[[]]},{"id":"9e0a5fda.5ae88","type":"inject","z":"b5572742.1309a8","g":"6463fd3.dc81004","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#:(settings)::send_data","payloadType":"global","x":220,"y":1080,"wires":[["9b1c224d.1ddd1"]]},{"id":"51d076a7.652d98","type":"link in","z":"b5572742.1309a8","g":"6463fd3.dc81004","name":"Set SendData UI","links":["cf4769a0.156ee8","7cc86c6a.04f294","c10fac6.7ef2b5"],"x":295,"y":1040,"wires":[["9b1c224d.1ddd1"]]},{"id":"dbb38f68.102a","type":"debug","z":"b5572742.1309a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":240,"wires":[]},{"id":"2c05b475.819c8c","type":"ui_text","z":"b5572742.1309a8","g":"94b28f50.68dc","group":"c8557e1c.a76f2","order":1,"width":0,"height":0,"name":"","label":"Flow Version","format":"{{msg.flow_version}}","layout":"row-spread","x":750,"y":540,"wires":[]},{"id":"9d8e0ff8.6f7c7","type":"http in","z":"8cfd379c.8c2e58","name":"counter","url":"/counter/:dir","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["4c969abd.3f44c4","95c1b08a.1cd8f","b77dcaf5.af2038"]]},{"id":"4c969abd.3f44c4","type":"http response","z":"8cfd379c.8c2e58","name":"","statusCode":"200","headers":{},"x":360,"y":220,"wires":[]},{"id":"95c1b08a.1cd8f","type":"debug","z":"8cfd379c.8c2e58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.params.dir","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"80a47eb4.65cb9","type":"function","z":"8cfd379c.8c2e58","name":"add or remove passenger","func":"const direction = msg.payload\nconst settings = global.get('settings', 'settings')\nlet p_passenger = global.get('p_passenger') || 0\nif(direction==='in'){\n    if(p_passenger < (settings.max_passenger || 16)){\n        p_passenger++\n    }\n    global.set(\"p_in\", (global.get('p_in') || 0)+1)\n}else if(direction==='out'){\n    if(p_passenger > 0)\n        p_passenger--\n    global.set(\"p_out\", (global.get('p_out') || 0)+1)\n}\nglobal.set(\"p_passenger\", p_passenger)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["14d1d404.534f7c","4513e117.e20f1"]]},{"id":"14d1d404.534f7c","type":"debug","z":"8cfd379c.8c2e58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":180,"wires":[]},{"id":"2b57d17f.190c0e","type":"comment","z":"8cfd379c.8c2e58","name":"Bosch geton/getoff  webhook ","info":"","x":220,"y":140,"wires":[]},{"id":"1c383773.3c1649","type":"comment","z":"8cfd379c.8c2e58","name":"Read GPS data","info":"setup tutorial : https://maker.pro/raspberry-pi/tutorial/how-to-use-a-gps-receiver-with-raspberry-pi-4\n data ref : https://gpsd.gitlab.io/gpsd/gpsd_json.html\n ","x":180,"y":340,"wires":[]},{"id":"cf41ea32.8a8e98","type":"gpsd","z":"8cfd379c.8c2e58","name":"","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":170,"y":400,"wires":[["7788779a.3de228"]]},{"id":"7788779a.3de228","type":"function","z":"8cfd379c.8c2e58","name":"save location data","func":"/**\n * setup tutorial : https://maker.pro/raspberry-pi/tutorial/how-to-use-a-gps-receiver-with-raspberry-pi-4\n * data ref : https://gpsd.gitlab.io/gpsd/gpsd_json.html\n * \n * example data\nclass: \"TPV\"\ndevice: \"/dev/ttyHS1\"\nmode: 3\ntime: \"2021-01-02T17:46:44.000Z\"\nept: 0.005\nlat: 18.7503875\nlon: 99.044588\nalt: 308.8\nepx: 5.4\nepy: 12.5\nepv: 14.4\ntrack: 0\nspeed: 0.331\nclimb: 0\neps: 28.99\n*/\n\nconst p = msg.payload\nif(p.class==\"TPV\"){\n    global.set(\"l_lat\",p.lat);\n    global.set(\"l_lng\",p.lon);\n    global.set(\"l_speed\",p.speed) //mps\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":400,"wires":[["ff4fb497.c9c228","abb5dcb0f63fa153"]]},{"id":"90a4f8f6.88a7d8","type":"inject","z":"8cfd379c.8c2e58","name":"Run at start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":540,"wires":[["fdeef770.1c50a8"]]},{"id":"c0a21e7c.a609","type":"exec","z":"8cfd379c.8c2e58","command":"sudo gpsd /dev/ttyHS1 -F /var/run/gpsd.sock","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":620,"wires":[[],[],[]]},{"id":"4513e117.e20f1","type":"link out","z":"8cfd379c.8c2e58","name":"","links":["681795ae.5ca2fc"],"x":1015,"y":220,"wires":[]},{"id":"ff4fb497.c9c228","type":"link out","z":"8cfd379c.8c2e58","name":"","links":["681795ae.5ca2fc"],"x":515,"y":360,"wires":[]},{"id":"c7c59ad.5a40668","type":"function","z":"8cfd379c.8c2e58","name":"Clear location data","func":"global.set(\"l_lat\",null)\nglobal.set(\"l_lng\",null)\nglobal.set(\"l_speed\",null)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":700,"wires":[[]]},{"id":"36c915f8.5140ea","type":"inject","z":"8cfd379c.8c2e58","name":"clear gps","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":460,"y":700,"wires":[["c7c59ad.5a40668"]]},{"id":"d6d3880f.ace818","type":"comment","z":"8cfd379c.8c2e58","name":"Start send gps serial data to gpsd service","info":"","x":780,"y":580,"wires":[]},{"id":"a51df487.481838","type":"comment","z":"8cfd379c.8c2e58","name":"clear any location on boot","info":"","x":730,"y":740,"wires":[]},{"id":"420ad854.3fa2c8","type":"inject","z":"8cfd379c.8c2e58","name":"force run","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":620,"wires":[["18e782f5.c9469d"]]},{"id":"fdeef770.1c50a8","type":"function","z":"8cfd379c.8c2e58","name":"is not already run","func":"if(!flow.get('booted')){\n    flow.set('booted',true)\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":580,"wires":[["18e782f5.c9469d"]]},{"id":"18e782f5.c9469d","type":"function","z":"8cfd379c.8c2e58","name":"-","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":620,"wires":[["c0a21e7c.a609","c7c59ad.5a40668"]]},{"id":"1da3cf83.b63328","type":"link in","z":"8cfd379c.8c2e58","name":"passenger_action","links":["9fcd240f.6a24d8","a95301ec.4a3ff8"],"x":655,"y":180,"wires":[["80a47eb4.65cb9"]]},{"id":"1224212c.945def","type":"function","z":"8cfd379c.8c2e58","name":"direction to payload","func":"msg.payload = msg.req.params.dir.trim()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":260,"wires":[["80a47eb4.65cb9"]]},{"id":"b77dcaf5.af2038","type":"switch","z":"8cfd379c.8c2e58","name":"Check if bus stopped (speed < 0.1 m/s)","property":"l_speed","propertyType":"global","rules":[{"t":"lt","v":"0.1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":260,"wires":[["1224212c.945def"]]},{"id":"abb5dcb0f63fa153","type":"debug","z":"8cfd379c.8c2e58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"bcae9393.b4c3b","type":"inject","z":"41f96cfd.bcf324","name":"1s updat interval","props":[{"p":"t","v":"","vt":"date"}],"repeat":"1","crontab":"","once":true,"onceDelay":"4","topic":"","x":310,"y":140,"wires":[["89900bc5.0e6508"]]},{"id":"1a671233.4e698e","type":"function","z":"41f96cfd.bcf324","name":"prepare data","func":"const settings = global.get('settings','settings') || {}\n\nconst p_in = global.get('p_in') || 0\nconst p_out = global.get('p_out') || 0\nglobal.set(\"p_in\",0)\nglobal.set('p_out',0)\nconst message = {\n    topic: settings.location_mqtt.topic,\n    payload:{\n        bus: settings.bus,\n        driver: settings.driver,\n        route: settings.route,\n        lat: global.get('l_lat') || 0,\n        lng: global.get('l_lng') || 0,\n        speed:  global.get('l_speed') || 0,\n        passenger :  global.get('p_passenger') || 0,\n        accuracy:0,\n        geton : p_in,\n        getoff : p_out,\n        v: global.get('flow_version'),\n    }\n}\n\nconst humid = global.get('s_humid')\nif(humid !== undefined){\n    message.payload.humid = humid\n}\nconst temp1 = global.get('s_temp1')\nif(temp1 !== undefined){\n    message.payload.temp1 = temp1\n}\nconst temp2 = global.get('s_temp2')\nif(temp2 !== undefined){\n    message.payload.temp2 = temp2\n}\nconst pressure = global.get('s_pressure')\nif(pressure !== undefined){\n    message.payload.pressure = pressure\n}\n\nreturn [message,null]\n// if(global.get(\"l_lat\")){\n//     return [message,null]\n//     node.send([message,null])\n// }else{\n    \n//     return [null,message]\n// }","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":140,"wires":[["33bb912b.b0cc3e","d22a017d.05831"],["aea63414.895648"]]},{"id":"33bb912b.b0cc3e","type":"debug","z":"41f96cfd.bcf324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"5ffa70ec.edd3b","type":"comment","z":"41f96cfd.bcf324","name":"Send location update interval","info":"","x":280,"y":80,"wires":[]},{"id":"d22a017d.05831","type":"mqtt out","z":"41f96cfd.bcf324","name":"location_mqtt_out","topic":"cmutransit/busonservice","qos":"","retain":"","broker":"38d096d5.94c0ea","x":870,"y":140,"wires":[]},{"id":"aea63414.895648","type":"debug","z":"41f96cfd.bcf324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"c2caf502.57e268","type":"catch","z":"41f96cfd.bcf324","name":"","scope":["1a671233.4e698e"],"uncaught":false,"x":650,"y":200,"wires":[["aea63414.895648"]]},{"id":"89900bc5.0e6508","type":"switch","z":"41f96cfd.bcf324","name":"send enable","property":"send_data","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":140,"wires":[["1a671233.4e698e","b3c124a1.4d0e18"]]},{"id":"b3c124a1.4d0e18","type":"debug","z":"41f96cfd.bcf324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"3f0ca92e.a395d6","type":"inject","z":"41f96cfd.bcf324","name":"1m status update","props":[{"p":"t","v":"","vt":"date"}],"repeat":"60","crontab":"","once":true,"onceDelay":"4","topic":"","x":310,"y":380,"wires":[["41924bb9.a3c284"]]},{"id":"41924bb9.a3c284","type":"function","z":"41f96cfd.bcf324","name":"prepare data","func":"const settings = global.get('settings','settings') || {}\nconst baseSetting = global.get('base_setting','settings') || {}\n\nreturn {\n    requestTimeout: 5000,\n    url: baseSetting.base_url + 'api/bus/updateinfo',\n    payload:{\n        bus: settings.bus,\n        driver: settings.driver,\n        route: settings.route,\n        v: global.get('flow_version'),\n        sn: global.get('mac','settings')\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":380,"wires":[["a837ce36.20c3e","174f91e.d4f0b6e"]]},{"id":"c4428ce0.98bdf","type":"comment","z":"41f96cfd.bcf324","name":"Send device info update every 1 minute","info":"","x":310,"y":320,"wires":[]},{"id":"a837ce36.20c3e","type":"http request","z":"41f96cfd.bcf324","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":380,"wires":[["174f91e.d4f0b6e"]]},{"id":"174f91e.d4f0b6e","type":"debug","z":"41f96cfd.bcf324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"a0de4d1.74167b","type":"mqtt in","z":"20c21b04.04ca94","name":"service_mqtt_all","topic":"cmutransit/service/all","qos":"0","datatype":"json","broker":"724bee24.9d454","x":180,"y":140,"wires":[["fa29bb1e.2f7ba8","acccebc4.6975c8"]]},{"id":"5e5807e1.1f59a8","type":"switch","z":"20c21b04.04ca94","name":"command selector","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"reboot","vt":"str"},{"t":"eq","v":"update_setting","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"sh","vt":"str"},{"t":"eq","v":"passenger","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":690,"y":140,"wires":[["7ce56a83.ac3604"],["662de892.a4a6c8"],["565cd418.0c59fc"],["705bf7d2.f69898"],["f5b76a44.b214e8"],["f1fb27a0.eb0808"]]},{"id":"19e9152d.25fcdb","type":"exec","z":"20c21b04.04ca94","g":"f1483986.eea5c8","command":" sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1050,"y":420,"wires":[[],[],[]]},{"id":"1b4d7594.08a41a","type":"inject","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"reboot","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":870,"y":420,"wires":[["19e9152d.25fcdb"]]},{"id":"7bc6b553.2b992c","type":"mqtt in","z":"20c21b04.04ca94","name":"service_mqtt_bus","topic":"cmutransit/service/A4BB6D667BDA","qos":"0","datatype":"json","broker":"724bee24.9d454","x":180,"y":180,"wires":[["817a33b4.aaaf8","fa29bb1e.2f7ba8"]]},{"id":"662de892.a4a6c8","type":"link out","z":"20c21b04.04ca94","name":"","links":["c63b1aaa.8dfcb8","bd78eaba.300b78"],"x":875,"y":80,"wires":[]},{"id":"7ce56a83.ac3604","type":"link out","z":"20c21b04.04ca94","name":"","links":["7108c235.114ccc"],"x":875,"y":40,"wires":[]},{"id":"7108c235.114ccc","type":"link in","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"reboot","links":["7ce56a83.ac3604","97f75ca.63134a","d24c5177.bd8c8"],"x":815,"y":480,"wires":[["bb8eaf47.7c1c9","771d5eb4.d063f"]]},{"id":"96cdff10.49f05","type":"comment","z":"20c21b04.04ca94","name":"reboot","info":"","x":950,"y":40,"wires":[]},{"id":"a7d84583.d90d38","type":"comment","z":"20c21b04.04ca94","name":"update_setting","info":"","x":980,"y":80,"wires":[]},{"id":"f4832557.012b28","type":"comment","z":"20c21b04.04ca94","name":"Receive And Process Command ","info":"","x":230,"y":80,"wires":[]},{"id":"52dc0e31.2a781","type":"comment","z":"20c21b04.04ca94","name":"start","info":"","x":950,"y":120,"wires":[]},{"id":"565cd418.0c59fc","type":"link out","z":"20c21b04.04ca94","name":"","links":["ec6595aa.53ddf8"],"x":875,"y":120,"wires":[]},{"id":"2dc0bf98.8210a","type":"inject","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"Stop Sending data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":820,"wires":[["bac4c899.20c8d8"]]},{"id":"b992f401.342d28","type":"inject","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"Start sending data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":740,"wires":[["1503c01b.25c98"]]},{"id":"705bf7d2.f69898","type":"link out","z":"20c21b04.04ca94","name":"","links":["be38dd4e.7e667"],"x":875,"y":160,"wires":[]},{"id":"7b19c96.473ce38","type":"comment","z":"20c21b04.04ca94","name":"stop","info":"","x":950,"y":160,"wires":[]},{"id":"be38dd4e.7e667","type":"link in","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"Stop Send Data","links":["705bf7d2.f69898"],"x":175,"y":860,"wires":[["bac4c899.20c8d8"]]},{"id":"ec6595aa.53ddf8","type":"link in","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"Start Send Data","links":["565cd418.0c59fc"],"x":175,"y":780,"wires":[["1503c01b.25c98"]]},{"id":"bac4c899.20c8d8","type":"change","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"","rules":[{"t":"set","p":"send_data","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":860,"wires":[["c61cf5e0.303928","10adbeee.8eecc1"]]},{"id":"1503c01b.25c98","type":"change","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"","rules":[{"t":"set","p":"send_data","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":780,"wires":[["c61cf5e0.303928","10adbeee.8eecc1"]]},{"id":"cf4769a0.156ee8","type":"link out","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"","links":["51d076a7.652d98"],"x":715,"y":780,"wires":[]},{"id":"c61cf5e0.303928","type":"change","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"send_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["cf4769a0.156ee8"]]},{"id":"6d24ea20.993474","type":"link out","z":"20c21b04.04ca94","name":"","links":["a8ed0f5a.6cf6f"],"x":1135,"y":200,"wires":[]},{"id":"aa5e60be.767e1","type":"exec","z":"20c21b04.04ca94","g":"f1483986.eea5c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":560,"wires":[["bb8eaf47.7c1c9"],[],[]]},{"id":"a8ed0f5a.6cf6f","type":"link in","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"Shell Script","links":["6d24ea20.993474"],"x":815,"y":560,"wires":[["aa5e60be.767e1"]]},{"id":"f5b76a44.b214e8","type":"change","z":"20c21b04.04ca94","name":"sh","rules":[{"t":"set","p":"payload","pt":"msg","to":"params.sh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":200,"wires":[["8cfa1458.215498"]]},{"id":"9321975.26a3468","type":"comment","z":"20c21b04.04ca94","name":"sh: run shell script","info":"data must contain sh","x":1270,"y":200,"wires":[]},{"id":"44047850.d0c0d8","type":"comment","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"Toggle Sending Data","info":"","x":190,"y":700,"wires":[]},{"id":"4340ff28.58381","type":"comment","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"Shell Script","info":"","x":770,"y":380,"wires":[]},{"id":"8cfa1458.215498","type":"switch","z":"20c21b04.04ca94","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":200,"wires":[["6d24ea20.993474"]]},{"id":"817a33b4.aaaf8","type":"switch","z":"20c21b04.04ca94","name":"has command","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"command","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":160,"wires":[["fe971277.0c39a"]]},{"id":"fa29bb1e.2f7ba8","type":"debug","z":"20c21b04.04ca94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":200,"wires":[]},{"id":"7be97700.b1c7e8","type":"subflow:1e70f269.b7747e","z":"20c21b04.04ca94","g":"8dcc0624.5ace68","name":"","env":[],"x":310,"y":580,"wires":[[],["d9473278.17a2e"],[]]},{"id":"c63b1aaa.8dfcb8","type":"link in","z":"20c21b04.04ca94","g":"8dcc0624.5ace68","name":"Download Setting ","links":["662de892.a4a6c8"],"x":185,"y":580,"wires":[["7be97700.b1c7e8"]]},{"id":"9059e333.93335","type":"link in","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"Update command result","links":["1bd65d45.c2b473","97d34b4f.358908"],"x":165,"y":400,"wires":[["b77288d7.040ce8","ed53ebf5.4ba0d8"]]},{"id":"b77288d7.040ce8","type":"function","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"","func":"if(msg.all_device || !msg.command_id){\n    return null\n}\n\nconst settings = global.get(\"base_setting\",\"settings\") || {}\nreturn {\n    method:\"POST\",\n    url: settings.base_url+'api/busdevice/command/result',\n    headers:{\n        authorization: 'Bearer '+ settings.token\n    },\n    payload: {\n        id: msg.command_id,\n        key: global.get(\"mac\",'settings'),\n        success:true,\n        result: msg.payload\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["9c19ef59.5493a","92364232.6725d"]]},{"id":"9c19ef59.5493a","type":"http request","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["670b8b25.3407d4"]]},{"id":"92364232.6725d","type":"debug","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":400,"wires":[]},{"id":"e3fa7fde.192db","type":"comment","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"Send command result","info":"","x":210,"y":320,"wires":[]},{"id":"2b63a07a.f38d1","type":"template","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"Empty result","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{}","output":"json","x":300,"y":360,"wires":[["b77288d7.040ce8","ed53ebf5.4ba0d8"]]},{"id":"24df5952.8f3396","type":"link in","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"Update command result (empty result)","links":["d9473278.17a2e","2f3f3dc3.4d4fa2","bb8eaf47.7c1c9","10adbeee.8eecc1"],"x":165,"y":360,"wires":[["2b63a07a.f38d1"]]},{"id":"d9473278.17a2e","type":"link out","z":"20c21b04.04ca94","g":"8dcc0624.5ace68","name":"","links":["24df5952.8f3396","cda3b590.7d7798"],"x":475,"y":580,"wires":[]},{"id":"bb8eaf47.7c1c9","type":"link out","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"","links":["24df5952.8f3396","cda3b590.7d7798"],"x":1135,"y":540,"wires":[]},{"id":"fe971277.0c39a","type":"function","z":"20c21b04.04ca94","name":"reform","func":"const {all_device,command,id,...params} = msg.payload\nreturn {\n    all_device: msg.all_device || false,\n    command, params,\n    command_id: id\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":200,"wires":[["5e5807e1.1f59a8","453768a2afe30f83"]]},{"id":"acccebc4.6975c8","type":"function","z":"20c21b04.04ca94","name":"add_all_command flag","func":"// should not send result to server\nmsg.all_device=true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[["817a33b4.aaaf8"]]},{"id":"670b8b25.3407d4","type":"debug","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":440,"wires":[]},{"id":"ed53ebf5.4ba0d8","type":"debug","z":"20c21b04.04ca94","g":"f5cbd0d.baa333","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":360,"wires":[]},{"id":"10adbeee.8eecc1","type":"link out","z":"20c21b04.04ca94","g":"a0a914ee.b6a9a8","name":"","links":["24df5952.8f3396"],"x":535,"y":820,"wires":[]},{"id":"8799df0c.bb724","type":"comment","z":"20c21b04.04ca94","g":"8dcc0624.5ace68","name":"Download Setting","info":"","x":200,"y":540,"wires":[]},{"id":"771d5eb4.d063f","type":"delay","z":"20c21b04.04ca94","g":"f1483986.eea5c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":460,"wires":[["19e9152d.25fcdb"]]},{"id":"f1fb27a0.eb0808","type":"link out","z":"20c21b04.04ca94","name":"","links":["30bba7a1.2e7d7"],"x":875,"y":240,"wires":[]},{"id":"30bba7a1.2e7d7","type":"link in","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"passenger command","links":["f1fb27a0.eb0808"],"x":175,"y":1040,"wires":[["e2a81f0a.9c3f38"]]},{"id":"e2a81f0a.9c3f38","type":"switch","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"action","property":"params.action","propertyType":"msg","rules":[{"t":"eq","v":"in","vt":"str"},{"t":"eq","v":"out","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":1040,"wires":[["39d0e88c.a849d8"],["39d0e88c.a849d8"],["86a038b2.fd576"]]},{"id":"39d0e88c.a849d8","type":"function","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"action to msg","func":"return {\n    payload: msg.params.action\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1020,"wires":[["a95301ec.4a3ff8"]]},{"id":"a95301ec.4a3ff8","type":"link out","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"","links":["1da3cf83.b63328"],"x":635,"y":1020,"wires":[]},{"id":"86a038b2.fd576","type":"function","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"set passenger","func":"if(!isNaN(msg.params.action)){\n\n    global.set(\"p_passenger\",parseInt( msg.params.action))\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1060,"wires":[["b16865a8.0f014"]]},{"id":"b16865a8.0f014","type":"link out","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"","links":["681795ae.5ca2fc"],"x":635,"y":1060,"wires":[]},{"id":"7c4937d3.46cde","type":"comment","z":"20c21b04.04ca94","g":"f0bda8d2.46c5","name":"Passenger command (in/out/{number})","info":"","x":290,"y":980,"wires":[]},{"id":"453768a2afe30f83","type":"function","z":"20c21b04.04ca94","name":"log receive cmd","func":"\nreturn {\n    payload:{\n        type:'RECEIVE_CMD',\n        data:{cmd:msg.command,params:msg.params}\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["953a21c22c83dde8"]]},{"id":"953a21c22c83dde8","type":"subflow:f46de730c3b0096c","z":"20c21b04.04ca94","name":"","x":710,"y":260,"wires":[[]]},{"id":"db62eb38.744d38","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_temp_raw","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":300,"wires":[["30249a18.6cf656"]]},{"id":"b6f2b1b5.8d622","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_temp_offset","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":620,"y":340,"wires":[["48bf12a1.cf72bc"]]},{"id":"9fabe997.347dd8","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_temp_scale","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":620,"y":380,"wires":[["1096027a.c8f5be"]]},{"id":"3049feb1.47df92","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"30249a18.6cf656","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_temp_raw=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":300,"wires":[["b6f2b1b5.8d622"]]},{"id":"48bf12a1.cf72bc","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_temp_offset=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":340,"wires":[["9fabe997.347dd8"]]},{"id":"1096027a.c8f5be","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_temp_scale=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":380,"wires":[["39bcda84.d2d7c6","46d6e51c.ff833c"]]},{"id":"39bcda84.d2d7c6","type":"function","z":"4527ebc0.500354","name":"calculate temperature","func":"const temp = (msg.in_temp_raw + msg.in_temp_offset) * msg.in_temp_scale\nmsg.payload = temp\nglobal.set('s_temp1',temp)\n\nflow.set(\"read_temp1\",false)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":420,"wires":[["3049feb1.47df92"]]},{"id":"46d6e51c.ff833c","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":380,"wires":[]},{"id":"491daea2.42e56","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_humidityrelative_raw","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":640,"y":520,"wires":[["60c9d7d.64f1f28"]]},{"id":"6c84d72c.2d0e08","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_humidityrelative_offset","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":560,"wires":[["e1ee4aac.7e84d8"]]},{"id":"9eb0bab.6b11f48","type":"file in","z":"4527ebc0.500354","name":"","filename":"/sys/bus/iio/devices/iio:device0/in_humidityrelative_scale","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":600,"wires":[["9c2addd.3650d2"]]},{"id":"b1d2b5a9.c8e478","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":640,"wires":[]},{"id":"60c9d7d.64f1f28","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_humidityrelative_raw=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[["6c84d72c.2d0e08"]]},{"id":"e1ee4aac.7e84d8","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_humidityrelative_offset=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":560,"wires":[["9eb0bab.6b11f48"]]},{"id":"9c2addd.3650d2","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_humidityrelative_scale=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":600,"wires":[["2d9fef8c.3959e","2db4c414.a573fc"]]},{"id":"2d9fef8c.3959e","type":"function","z":"4527ebc0.500354","name":"calculate humid","func":"const humid = (msg.in_humidityrelative_raw + msg.in_humidityrelative_offset) * msg.in_humidityrelative_scale\nmsg.payload = humid\nglobal.set('s_humid',humid)\nflow.set(\"read_humid\",false)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":640,"wires":[["b1d2b5a9.c8e478"]]},{"id":"2db4c414.a573fc","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":600,"wires":[]},{"id":"3537f12d.263aae","type":"file in","z":"4527ebc0.500354","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":720,"wires":[["406c752c.0ac34c"]]},{"id":"f2e3b949.ec9638","type":"file in","z":"4527ebc0.500354","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":760,"wires":[["d26bef4c.f6eda"]]},{"id":"272a316e.bd14ae","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":800,"wires":[]},{"id":"406c752c.0ac34c","type":"function","z":"4527ebc0.500354","name":"save","func":"msg.in_temp_raw=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":720,"wires":[["83bbe965.f1dc08"]]},{"id":"d26bef4c.f6eda","type":"function","z":"4527ebc0.500354","name":"save","func":"msg.in_temp_scale=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":760,"wires":[["f991cc3f.3927f","b7db1338.8a7"]]},{"id":"f991cc3f.3927f","type":"function","z":"4527ebc0.500354","name":"calculate temperature 2","func":"const temp = msg.in_temp_raw  * msg.in_temp_scale\nmsg.payload = temp\nglobal.set('s_temp2',temp)\nflow.set('read_temp2',false)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":800,"wires":[["272a316e.bd14ae"]]},{"id":"b7db1338.8a7","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":760,"wires":[]},{"id":"1fe166b3.01e519","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":960,"wires":[]},{"id":"d577fe05.138a5","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_pressure_raw=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":880,"wires":[["76d667d.0f1c298"]]},{"id":"e492125c.254d1","type":"function","z":"4527ebc0.500354","name":"","func":"msg.in_pressure_scale=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":920,"wires":[["6587fca9.5e8874","40c82f84.7a3b9"]]},{"id":"6587fca9.5e8874","type":"function","z":"4527ebc0.500354","name":"calculate pressure","func":"const pressure = msg.in_pressure_raw * msg.in_pressure_scale * 10\nmsg.payload = pressure\nglobal.set('s_pressure',pressure)\nflow.set('read_pressure',false)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":960,"wires":[["1fe166b3.01e519"]]},{"id":"40c82f84.7a3b9","type":"debug","z":"4527ebc0.500354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":920,"wires":[]},{"id":"8efd1c7e.33707","type":"inject","z":"4527ebc0.500354","name":"1s interval","props":[{"p":"topic","vt":"str"},{"p":"pressure_device","v":"pressure_device_no","vt":"flow"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","x":130,"y":300,"wires":[["39e60623.1eb43a","74d602a0.d0626c","3a5e5ccf.84b5a4","2adf3e9f.1fcff2"]]},{"id":"74d602a0.d0626c","type":"function","z":"4527ebc0.500354","name":"","func":"if(flow.get(\"init\")){\n    if(!flow.get(\"read_temp2\")){\n        flow.set(\"read_temp2\",true)\n        msg.path = \"/sys/bus/iio/devices/iio:device\"+msg.pressure_device+'/'\n        return msg\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":720,"wires":[["f976b8d8.8444f8"]]},{"id":"39e60623.1eb43a","type":"function","z":"4527ebc0.500354","name":"","func":"\nif(!flow.get(\"read_humid\")){\n    flow.set(\"read_humid\",true)\n    return msg\n}   ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["491daea2.42e56"]]},{"id":"3a5e5ccf.84b5a4","type":"function","z":"4527ebc0.500354","name":"","func":"if(flow.get(\"init\")){\n    if(!flow.get(\"read_pressure\")){\n        flow.set(\"read_pressure\",true)\n        msg.path = \"/sys/bus/iio/devices/iio:device\"+msg.pressure_device+'/'\n        return msg\n    }   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":880,"wires":[["97bb717e.66d37"]]},{"id":"765d5c22.ba9b14","type":"function","z":"4527ebc0.500354","name":"","func":"// check \n\n\nflow.set(\"init\",true)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":260,"wires":[[]]},{"id":"7052499d.95c888","type":"inject","z":"4527ebc0.500354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["a8daeb57.4f1248"]]},{"id":"e0f7fcd6.0a1da","type":"function","z":"4527ebc0.500354","name":"check  pressure sensor device number","func":"var pressureDeviceNumber\nif(msg.payload===\"\"){\n    pressureDeviceNumber=2\n}else{\n    pressureDeviceNumber=1\n}\nflow.set(\"pressure_device_no\",pressureDeviceNumber)\nflow.set(\"init\",1)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[[]]},{"id":"a8daeb57.4f1248","type":"exec","z":"4527ebc0.500354","command":"ls /sys/bus/iio/devices/iio:device1/in_temp_raw","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":140,"wires":[["e0f7fcd6.0a1da"],[],[]]},{"id":"2adf3e9f.1fcff2","type":"function","z":"4527ebc0.500354","name":"","func":"\nif(!flow.get(\"read_temp1\")){\n    flow.set(\"read_temp1\",true)\n    return msg\n}   ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["db62eb38.744d38"]]},{"id":"f976b8d8.8444f8","type":"function","z":"4527ebc0.500354","name":"in_temp_raw","func":"msg.filename = msg.path+'in_temp_raw'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":720,"wires":[["3537f12d.263aae"]]},{"id":"83bbe965.f1dc08","type":"function","z":"4527ebc0.500354","name":"in_temp_scale","func":"msg.filename = msg.path + 'in_temp_scale'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":760,"wires":[["f2e3b949.ec9638"]]},{"id":"4fa1e8ea.307608","type":"file in","z":"4527ebc0.500354","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":920,"wires":[["e492125c.254d1"]]},{"id":"97bb717e.66d37","type":"function","z":"4527ebc0.500354","name":"in_pressure_raw","func":"msg.filename = msg.path+'in_pressure_raw'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":880,"wires":[["f3298944.9f0258"]]},{"id":"76d667d.0f1c298","type":"function","z":"4527ebc0.500354","name":"in_temp_scale","func":"msg.filename = msg.path + 'in_pressure_scale'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":920,"wires":[["4fa1e8ea.307608"]]},{"id":"f3298944.9f0258","type":"file in","z":"4527ebc0.500354","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":880,"wires":[["d577fe05.138a5"]]},{"id":"318e79e2.cee4e6","type":"comment","z":"4527ebc0.500354","name":"Check pressure device number","info":"","x":150,"y":100,"wires":[]},{"id":"83929e11.23c38","type":"comment","z":"4527ebc0.500354","name":"Interval fetch sensor data","info":"","x":130,"y":240,"wires":[]}]